
@{
    ViewBag.Title = "xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div style="height:500px;">
<h2 style="
    text-align: center;
">
    XÁC NHẬN ĐƠN HÀNG
</h2>
<h4 style="
    text-align: left;
">
    Đơn hàng của quý khách đã được ghi nhận, chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất và giao hàng
    đúng hạn
</h4>
<p style="
    float: left;
">
    <a href="@Url.Action("Index","WEBPC")" style="text-align:center; text-decoration:none;">VỀ TRANG CHỦ</a>
</p>

</div>

