<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>trangchu</title>
    <script src="~/jss/vohang.js"></script>
    <script src="~/jss/dangnhapjss.js"></script>
    <script src="~/jss/jss.js"></script>

    <script src="~/jss/contac.js"></script>
    <link href="~/css/cartitem.css" rel="stylesheet" />
    <link href="~/css/center.css" rel="stylesheet" />
    <link href="~/css/contact.css" rel="stylesheet" />
    <link href="~/css/content.css" rel="stylesheet" />
    <link href="~/css/detail.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/hea.css" rel="stylesheet" />
    <link href="~/css/lefttcon.css" rel="stylesheet" />
    <link href="~/css/menutab.css" rel="stylesheet" />
    <link href="~/css/na.css" rel="stylesheet" />
    <link href="~/css/rightcon.css" rel="stylesheet" />
    <link href="~/css/top.css" rel="stylesheet" />
    <script type="text/javascript" src="~/hinh anh/jss/jss.js"></script>
    <script type="text/javascript" src="text/jss.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" type="image/png" href="~/hinh anh/logo.jpg" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">





        <div class="container" style="
    height: auto;
">
            <div id="logo">  <a href="vitinhgialong.html"> <img src="~/hinh anh/logo.jpg" alt="hinh anh foot" /></a></div>
            <div class="slider">
                <div class="s1"><b> CÔNG TY TNHH MTV VI TÍNH GIA LONG </b> </div>
                <div class="s2"><b>Phân phối linh kiện máy tính sỉ &amp; lẻ tại Bình Dương</b></div>






            </div>
            <div class="c5" style="float: left;margin-top: 10px;">
                <div class="c2"><img src="~/hinh anh/logo-dien-thoai2.jpg" /></div>
                <div class="c3" style="
    float: left;
">0274.3844750</div>




            </div>








        </div>



















        <div class="clr"></div>


        <div class="container" style="
    /* color: white; */
    background: black;
">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" style="
    /* background-color: white; */
">
                    <span class="icon-bar" style="
    /* background-color: white; */
"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gia Long PC</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar1" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">TRANG CHỦ</a> </li>
                    <li class="active"><a href="#">SẢN PHẨM</a> </li>
                    <li class="active"><a href="#">GIỚI THIỆU</a> </li>
                    <li class="active"><a href="#">CHÍNH SÁCH BẢO HÀNH</a> </li>
                    <li class="active"><a href="#">LIÊN HỆ</a> </li>







                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">ĐĂNG NHẬP<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TÀI KHOẢN</a> </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">ĐĂNG XUẤT</a> </li>


                        </ul>
                    </li>

                </ul>





                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" />
                    </div>
                    <button type="submit" class="btn btn-default">Tìm</button>
                </form>
            </div>
        </div>


        <div class="container" style="
    height: 500px;
    margin-top: 3px;
    ">
            @RenderBody()
        


        </div>


        <div class="foot">


            <div class="centerfoot2" style="
    margin-top: 10px;
    align-items: center;
    text-align: center;
">
                <div class="tieude">Về chúng tôi</div>
                <section>
                    <span style="font-size:14px;">
                        ♦&nbsp; &nbsp;430 Phú Lợi, Khu Phố 8, P. Phú Hòa, Tp. Thủ Dầu Một, Bình Dương
                        <br />
                        ♦&nbsp; &nbsp;Hotline: 0989.470.670
                        <br />
                        ♦&nbsp; &nbsp;Email: tttmdvgialong@gmail.com
                        <br />
                        ♦&nbsp; &nbsp;Website: www.vitinhgialong.vn
                    </span>
                </section>
            </div>

        </div>


        <script type="text/javascript" src="~/hinh anh/jss/vohang.js"></script>









    </div>









</body>
</html>
